<?xml version="1.0"?>

<scene pid="1">
	<redis>
		<ip>127.0.0.1</ip>
		<port>6379</port>
	</redis>

	<dispatcher nid="1">
		<listen_ip>0.0.0.0</listen_ip>
		<listen_port>8080</listen_port>
		<pingpong_timeout>300</pingpong_timeout> <!-- unit:second -->
	</dispatcher>

	<logger>
		<level>4</level> <!-- 0 cri, 1 err, 2 warn, 3 info, 4 dbg -->
	</logger>
</scene>
